.container {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	// padding: 30px 0 60px 0;

	@media (max-width: 1110px) {
		width: 100%;
		// padding: 0 0 30px 0;
	}

	.graphContainer {
		width: 90%;
		background: white;

		@media (max-width: 1110px) {
			width: 95%;
		}

		.description {
			padding: 30px 0 40px 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.graph {
				width: 90%;
			}
		}
	}
}
